
html, body {
    overflow: hidden;
}


.inscription-container h1 {
    font-size: 24px;
}

.inscription-container form {
    margin-top: 20px;
}

.inscription-container input[type="text"],
.inscription-container button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

/* Styles spécifiques au jeu */
.game-container {
    position: absolute;
    top: 0;
    left: 50%; /* À partir de la moitié de l'écran */
    width: 50%; /* Moitié de la largeur de l'écran */
    height: 100vh; /* Hauteur de l'écran */
    background-color: #c0c0c0; /* Couleur de fond */
}

/* Cacher le jeu par défaut */
.game-container {
    display: none;
}

/* Style de la boîte de dialogue modale */
.modal {
    display: none; /* Par défaut, la boîte de dialogue est masquée */
    position: fixed; /* Position fixe pour couvrir toute la fenêtre */
    z-index: 1; /* Position au-dessus de tout le reste */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permet le défilement si nécessaire */
    background-color: rgba(0, 0, 0, 0.4); /* Fond semi-transparent */
}

/* Style du contenu de la boîte de dialogue */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Centrer verticalement et horizontalement */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Style pour le bouton de fermeture */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#background {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -2; 
}

#gameCanvas {
   
        height: 100vh;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
    
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -2;
}

#homepage {
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#game-over-div {
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#win-screen-div {
    
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#controls {
    display: flex;
    justify-content: flex-end;
    margin: 20px; /* Pour ajouter un peu d'espace autour du conteneur */
}
#controls button {
    margin-left: 10px; /* Pour espacer les boutons entre eux */
    padding: 15px 25px; /* Pour agrandir les boutons */
    font-size: 18px; /* Pour agrandir le texte des boutons */
    background-color: #007BFF; /* Couleur de fond bleu */
    color: white; /* Couleur du texte */
    border: none; /* Suppression de la bordure par défaut */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre */
    cursor: pointer; /* Curseur pointeur pour montrer que c'est cliquable */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transition pour les effets */
}
#controls button:hover {
    background-color: #0056b3; /* Couleur de fond bleu foncé au survol */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Ombre plus grande au survol */
}